@import "./variables.scss";

input.button, a.button, button.button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: $highlight-aqua;
    border: 1px solid $highlight-aqua;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    text-align: center;
    line-height: 1.1;
    transition: all 0.5s;
    &.active:hover{
      background-color: $highlight-aqua;
      color: #282828;
    }
    &:focus {
      outline-style: solid;
      outline-color: transparent;
    }
  }