@import "./core.scss";

.thank-you{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    width: 100vw;
    height: 100vh;
}

// Borrowed: https://codepen.io/erikjung/pen/XdWEKE
.thank-you-text {
    --interval: 1s;
    display: block;
    color: lightyellow;
    text-shadow: 
      0 0 10px yellow,
      0 0 20px lime,
      0 0 40px green,
      0 0 80px mediumblue;
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
  }

@keyframes flicker {
    50% {
        color: white;
        filter: saturate(200%) hue-rotate(20deg);
    }
}