$primary-color: #efefef;
// ORIGINAL
// $bg: #181619;
// $highlight-red: #e85c86;
// $highlight-aqua: #5ce8e3;
// $highlight-theal: #258177;
// $highlight-orange: #e8a75c;
// // Test1 - Mossio
$bg: #18181E;
$highlight-red: #DEC79B;
$highlight-aqua: #258177;
$highlight-theal: #258177;
$highlight-orange: #e8a75c;
// // Test2 - IC creative
// $bg: #1D2228;
// $highlight-red: #FB8122;
// $highlight-aqua: #E1E2E2;
// $highlight-theal: #258177;
// $highlight-orange: #e8a75c;
// // Test3 - Pixel Pantry
// $bg: #1D2228;
// $highlight-red: #4AC6D2;
// $highlight-aqua: #9E15BF;
// $highlight-theal: #258177;
// $highlight-orange: #e8a75c;