@import "./style/variables.scss";
@import "./style/reset.scss";
@import "./style/progress.scss";
@import "./style/mouse-scroll.scss";

html {
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
    
  @media screen and (min-width: 900px) {
    font-size: 18px;
  }
    
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

body {
  background: $bg;
  color: $primary-color;
  line-height: 1.7;
}


h1 { 
  text-transform: uppercase;
  font-size: 2em;
}

h2 { 
  font-size: 1.6em;
  margin-top: 1em;
}

h3 { 
  margin-top: 0.5em;
  font-size: 1.4em;
  background-image: none;
  &.active {
    text-decoration: underline;
    text-decoration-color: $highlight-aqua;
    color: $highlight-red;
  }
}
p { 
  margin-bottom: 5em;
}

h2.warn{
  animation: animate  
    5s linear infinite; 
}
@keyframes animate { 
  0% { 
      opacity: 0; 
  } 
  30% { 
      opacity: 0.7; 
      color: #9e2020;
  } 
  80% { 
      opacity: 1; 
      color: #9e2020;
  } 
  100% { 
      opacity: 0; 
      color: #db1f1f;
  } 
}

$rotation: 70deg;
$base-opacity: 0.3;
$base-lift: 20px;

$sticky-container-width: 60vw;
$map-start-height: 5vh;
$map-start-width: 10vw;


.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  width: $sticky-container-width;
  height: 100vh;
  float: left;
  
  perspective: 1000px;


  img {
    position: absolute;
    top: $map-start-height;
    left: $map-start-width;
    max-width: $sticky-container-width - 2*$map-start-width;
    transform: none;
    transition: all .5s cubic-bezier(.05,.03,.35,1);
    transform-style: preserve-3d;
  }
  & .tilt {
    transform: rotateX($rotation) translateZ(10px);
    opacity: $base-opacity;
    &.legend {
      opacity: $base-opacity / 3;
    }
    &.active {
      opacity: 1;
      z-index: 1;
      &.lift-base {
        transform: rotateX($rotation) translateZ($base-lift);
      }
      &.lift-legend-sampled {
          transform: rotateX($rotation) translateZ($base-lift*2);
      }
      &.lift-legend-cluster {
        transform: rotateX($rotation) translateZ($base-lift*3);
      }
      &.lift-legend-annotated {
          transform: rotateX($rotation) translateZ($base-lift*2);
      }
      &.lift-marker {
          transform: rotateX(8deg) translateZ(-87px);
      }
    }

  }

}

.range {
  margin-top: $map-start-height;
  margin-left: $map-start-width;
  width: $sticky-container-width - 2*$map-start-width;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}

a.button {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid $highlight-aqua;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  text-align: center;
  line-height: 1.1;
  transition: all 0.5s;
  &:hover{
    background-color: $highlight-aqua;
    color: #282828;
  }
  
}
#hidden-button {
  visibility: hidden;
  position: absolute;
  top: 3*$map-start-height;
  left: $sticky-container-width/2;
  transform: translate(-50%, -50%);
  &:hover, &.active{
    background-color: $highlight-aqua;
    visibility: visible;
    color: #282828;
  }
}

#start-button {
  font-size: 2em;
  position: absolute;
  left: 50%;
  top: 95%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0);  // margin-bottom: 10rem;
}

article {
  position: relative;
  margin-top: 0;
  margin-left: $sticky-container-width;
  border-left: 1px solid #e9decf;
  padding: 1rem;
}

.sticky:after {
  content: '';
  display: table;
  clear: both;
}

.highlight-1 {
  color: $highlight-red;
}

.highlight-2 {
  text-decoration: underline;
  text-decoration-color: $highlight-aqua;
}
// .module {
//   font-size: 1.1rem;
// }

@import "../node_modules/nouislider/distribute/nouislider.css";

.slider.noUi-target{-webkit-box-shadow:none;box-shadow:none;border:none;background-color:transparent}

.slider.noUi-horizontal{cursor:pointer;height:20px;background:transparent}

.slider.noUi-horizontal .noUi-base{height:100%}

.slider.noUi-horizontal .noUi-base:after{content:'';display:block;width:100%;height:2px;background:#282828;top:50%;position:absolute;border-radius:2px}

.slider.noUi-horizontal .noUi-handle{
  outline:none;
  width:20px;
  height:20px;
  left:-10px;
  top:0;
  border:2px solid #282828;
  background-color:#282828;
  border-radius:50%;
  -webkit-box-shadow:none;
  box-shadow:none;cursor:pointer
}

.slider.noUi-horizontal .noUi-handle:before{display:none}

.slider.noUi-horizontal .noUi-handle:after{display:none}


.noUi-pips{padding:0;height:30px;top:0}


.noUi-pips .noUi-marker-large{
  background:$highlight-theal;
  width:1px;
}

.noUi-pips .noUi-marker-normal{background:#c9c9c9;width:1px;height:10px}

.noUi-target{-webkit-box-shadow:none;box-shadow:none;border:none;background:none}

.noUi-horizontal .noUi-handle{
  height:55px;
  width:55px;
  top:-18px;
}

.noUi-handle{
  background: $highlight-theal;
  -webkit-box-shadow:none;
  box-shadow:none;
  border:none;
  border-radius:50%;
  border:3px solid #fff
}

.noUi-handle:hover{cursor:-webkit-grab;cursor:grab}

.noUi-handle:before,.noUi-handle:after{display:none}

.noUi-horizontal .noUi-handle {
  right: -22px;
}

.noUi-handle .noUi-tooltip{
  color:#fff;
  border:none;
  transform:translate(0,-50%);
  top:50%;
  left:0;
  right:0;
  background:none;padding:0;margin:0;
  font-weight:600;
  text-align:center;
  font-size:1.0rem;
  line-height:1em;
  height:20px
}



.noUi-active{cursor:-webkit-grabbing;cursor:grabbing}

.noUi-active:hover{cursor:-webkit-grabbing;cursor:grabbing}





.photo-answer .photo-answer-row-wrapper .photo-answer-row .photo-answer-slider-container .photo-answer-slider .noUi-value-horizontal{font-weight:300}

.photo-answer .photo-answer-row-wrapper .photo-answer-row .photo-answer-slider-container .photo-answer-slider .noUi-handle{display:none}


.photo-answer .photo-answer-row-wrapper .photo-answer-row .photo-answer-slider-container .photo-answer-slider .noUi-pips{height:100%;left:50%;width:55px;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}

.photo-answer .photo-answer-row-wrapper .photo-answer-row .photo-answer-slider-container .photo-answer-slider .noUi-pips .noUi-marker-normal{width:60px;height:1px}


.photo-answer .photo-answer-row-wrapper .photo-answer-row .photo-answer-slider-container .photo-answer-slider .noUi-pips .noUi-marker-large{width:60px;height:1px}



.noUi-handle{-webkit-animation:shake 1s;animation:shake 1s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}



// JJJJJJ


// @-webkit-keyframes shake{10%,90%{-webkit-transform:translate3d(-1px,0,0);transform:translate3d(-1px,0,0)}

// 20%,80%{-webkit-transform:translate3d(-1px,0,0);transform:translate3d(-1px,0,0)}

// 30%,50%,70%{-webkit-transform:translate3d(-2px,0,0);transform:translate3d(-2px,0,0)}

// 40%,60%{-webkit-transform:translate3d(2px,0,0);transform:translate3d(2px,0,0)}

// }

// @keyframes shake{10%,90%{-webkit-transform:translate3d(-1px,0,0);transform:translate3d(-1px,0,0)}

// 20%,80%{-webkit-transform:translate3d(-1px,0,0);transform:translate3d(-1px,0,0)}

// 30%,50%,70%{-webkit-transform:translate3d(-2px,0,0);transform:translate3d(-2px,0,0)}

// 40%,60%{-webkit-transform:translate3d(2px,0,0);transform:translate3d(2px,0,0)}

// }

// @-webkit-keyframes updown{0%,20%,50%,80%,100%{-webkit-transform:translateY(0);transform:translateY(0)}

// 40%{-webkit-transform:translateY(-.75rem);transform:translateY(-.75rem)}

// 60%{-webkit-transform:translateY(-.5rem);transform:translateY(-.5rem)}

// }

// @keyframes updown{0%,20%,50%,80%,100%{-webkit-transform:translateY(0);transform:translateY(0)}

// 40%{-webkit-transform:translateY(-.75rem);transform:translateY(-.75rem)}

// 60%{-webkit-transform:translateY(-.5rem);transform:translateY(-.5rem)}

// }

