@import "./style/variables.scss";
@import "./style/reset.scss";
@import "./style/progress.scss";


html {
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
    
  @media screen and (min-width: 900px) {
    font-size: 18px;
  }
    
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

body {
  background: $bg;
  color: $primary-color;
  line-height: 1.7;
}


h1 { 
  text-transform: uppercase;
  font-size: 2em;
}

h2 { 
  font-size: 1.6em;
  margin-top: 1em;
}

h3 { 
  margin-top: 0.5em;
  font-size: 1.4em;
  background-image: none;
  &.active {
    text-decoration: underline;
    text-decoration-color: $highlight-aqua;
    color: $highlight-red;
  }
}
p { 
  margin-bottom: 5em;
}

// TODO MAKE SURE WORKS WITH SMALL SCREEN
// @media screen and (min-width: 900px) {
  // width: 100%;
  // height: calc(40vh);
  // border-bottom: 1px solid #e9decf;
// }

$rotation: 70deg;
$base-opacity: 0.3;


.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 60vw;
  height: 100vh;
  float: left;
  
  perspective: 1000px;

  img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width:60vw;
    transform: none;
    transition: all .5s cubic-bezier(.05,.03,.35,1);
    transform-style: preserve-3d;
  }
  & .tilt {
    transform: rotateX($rotation) translateZ(10px);
    opacity: $base-opacity;
    &.legend {
      opacity: $base-opacity / 3;
    }
    &.active {
      opacity: 1;
      z-index: 1;
    }
    &.lift-data {
      transform: rotateX($rotation) translateZ(20px);
    }
    &.lift-legend-headline {
      transform: rotateX($rotation) translateZ(20px);
    }
    &.lift-legend-checkered {
        transform: rotateX($rotation) translateZ(20px);
    }
    &.lift-legend-sampled {
        transform: rotateX($rotation) translateZ(30px);
    }
    &.lift-legend-cluster {
        transform: rotateX($rotation) translateZ(40px);
    }
    &.lift-legend-annotated {
        transform: rotateX($rotation) translateZ(20px);
    }
    &.lift-marker {
        transform: rotateX(-70deg) translateZ(-99px);
    }



  }

}




article {
  margin-top: 0;
  margin-left: 60vw;
  border-left: 1px solid #e9decf;
  padding: 1rem;
}

.sticky:after {
  content: '';
  display: table;
  clear: both;
}

.highlight-1 {
  color: $highlight-red;
}

.highlight-2 {
  text-decoration: underline;
  text-decoration-color: $highlight-aqua;
}
// .module {
//   font-size: 1.1rem;
// }

